{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{data.name}}{% endblock %}
{% block description %}Список фильмов c {{data.sex_name|default:"актёром"}} {{data.name}}{% endblock %}
{% block keywords %}{{data.name}},список,фильмов,{{data.sex_name}}{% endblock %}
{% block body %}
<div class="container info_panel">
	<h1>Торренты</h1>
	<div class="row">
		<div class="col-md-12 films_content">
			<table class="table">
			{% for d in object_list %}
			<tr>
				<td><a href="https://www.kinopoisk.ru/index.php?first=no&what=&kp_query={{d.procName|urlencode}}" target="_blank">{{d.procName}}</a></td>
				<td><a href="{{d.link}}" target="_blank">{{d.name}}</a></td>
				<td><a href="{{d.link}}" class="btn btn-primary">удалить</a></td>
			</tr>
			<tr>
				<td colspan="3">
				{% for f in d.films %}
					{% include 'film_info.htm' with no_like=1 show_year=1 %}
				{% endfor %}
				</td>
			</tr>
			{% endfor %}
			</table>
			
			
			{% for f in last_added %}
				{% include 'film_info.htm' with no_like=1 show_year=1 %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
