.cb{clear:both}
.pr{position: relative}
.tac {text-align: center;}
.tar {text-align: right;}
.taj {text-align: justify;}
.fl{float:left}
.dn{display:none}
.mr10{margin-right: 10px}
.mt5{margin-top: 5px}
.mb5{margin-bottom: 5px}
.pl10{padding-left: 10px}
.width100{width:100%}

h2{font-size:26px}
ul li {list-style: none}

#search{
    width: 365px;
}
.user-info{
    position: absolute;
    top: 0px;
    right: 0px;
}

.film_block,
.film_block_similar {
	width: 200px;
	height: 350px;
	text-align:center;
	margin: 10px;
	position: relative;
}
.film_block img{
	max-width: 200px;
}

.film_banner{
	max-width: 200px;
}

.con_block{
    cursor: pointer;
    background-color: #aaaaaa;
    width: 20px;
    height: 20px;
}
.film_img{
    position: relative;
}
.bookmark_film{
    position: absolute;
    left: 2px;
    bottom: 2px;
}

.hide_film{
    position: absolute;
    top: 2px;
    right: 2px;
}

.like_film{
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.comment{
	background-color: #aaa;
}


