{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{data.name}}{% endblock %}
{% block description %}Список фильмов c {{data.sex_name|default:"актёром"}} {{data.name}}{% endblock %}
{% block keywords %}{{data.name}},список,фильмов,{{data.sex_name}}{% endblock %}
{% block body %}
<h1>Фильмы c {{data.sex_name|default:"актёром"}} {{data.name}}</h1>
<input type="hidden" class="genre_value" value="{{genre.uid}}"/>
<div class="container">
	{% for film in films %}
	<div class="info_panel">
		{% include "film_info_full.htm" %}
	</div>
	{% endfor %}
	{% if next_page %}
	<a class="next_page" href="{% url 'actor' data.uid next_page %}">Ещё {{next_cnt}} фильмов из {{total_cnt}}</a>
	{% endif %}
</div>	

{% endblock %}
