{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}{% endblock %}</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8; ru" />
	<meta name="Description" content="{% block description %}{% endblock %}"/>
	<meta name="Keywords" content="{% block keywords %}{% endblock %}"/>  

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/animate.css" rel="stylesheet">	
	<link href="/static/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="/static/js/html5shiv.js"></script>
	    <script src="/static/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">

	<!--link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" /-->  
  {% block extra_head %}{% endblock %}
</head>
<body>


	<header id="header" role="banner">		
		<div class="main-nav">
			
				<div class="header-top">
					<div class="pull-right social-icons">
						<a href="{% url 'bookmarks' %}" title="Закладки"><i class="fa fa-bookmark fa-2x"></i></a>
						{% if user.is_anonymous %}
						<a href="{% url 'likes' %}" title="Понравились"><i class="fa fa-heart fa-2x"></i></a>
						{% else %}
						<a href="{% url 'likes' user.id %}" title="Понравились"><i class="fa fa-heart fa-2x"></i></a>
						{% endif %}
						<a href="{% url 'hidden' %}" title="Скрытые"><i class="fa fa-eye-slash fa-2x"></i></a>
						{% if user.is_anonymous %}
						<a href="{% url 'login' %}?next={% if film %}{{film.get_absolute_url}}{% elif genre %}{{genre.get_absolute_url}}{% else %}/{% endif %}" title="Войти"><i class="fa fa-sign-in fa-2x"></i></a>
						{% else %}
						<a href="{% url 'logout' %}?next={% if film %}{{film.get_absolute_url}}{% elif genre %}{{genre.get_absolute_url}}{% else %}/{% endif %}" title="Выйти"><i class="fa fa-sign-out fa-2x"></i><span style="font-size: 25px;">{{user.get_full_name|default:user.username}}</span></a>
						{% endif %}
					</div>
						<form method="get" class="form-search" action="/search/">	
						<div class="input-group pull-right search">						
						  <input type="text" class="form-control" name="q" value="{{q}}">
						  <span class="input-group-addon search_button" onclick="$('.form-search').submit()">искать</span>						
						</div>
						</form>

				</div>     
		        <div class="row">	        		
		            <div class="navbar-header">
		                <a class="navbar-brand" href="/">
		                	<img class="img-responsive" src="/static/images/logo.png" alt="logo">
		                </a>                    
		            </div>
		            <div class="collapse navbar-collapse">
		                <ul class="nav navbar-nav navbar-right">                 
						{% for d in genre_main %}
							<li class="scroll"><a href="{{d.get_absolute_url}}">{{d.title1|default:d.name}}</a></li>
						{% endfor %}						
							<li class="dropdown no-scroll">							
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Ещё<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
								{% for d in genre_other %}
   								<li class="no-scroll">
									<a href="{{d.get_absolute_url}}" class="genre_other">
										{{d.title1|default:d.name}}								
									</a>
								</li>
								{% endfor %}

                            </ul>							
							
							</li>
		                </ul>
		            </div>
		        </div>
	        
        </div>                    
    </header>

	
	<div style="padding-top: 180px;margin-left: 30px">
	{% block body %}{% endblock %}
	</div>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/smoothscroll.js"></script>
    <script type="text/javascript" src="/static/js/jquery.parallax.js"></script>    
    <script type="text/javascript" src="/static/js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="/static/js/jquery.nav.js"></script>
	<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>  
    <script type="text/javascript" src="/static/js/main.js"></script>  		
	<script src="{% static 'js/base.js' %}"></script>
	
<script>

$(function(){
	$.backstretch('/static/images/bg.jpg');
})
</script>
{% block extra_foot %}{% endblock %}


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter32831597 = new Ya.Metrika({
                    id:32831597,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/32831597" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
