{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Закладки{% endblock %}
{% block body %}
<h1>Фильмы в закладках</h1>

<div class="container">
	{% for film in films %}
	<div class="info_panel">
		{% include "film_info_full.htm" with rm_from_bookmark=1 %}
	</div>
	{% endfor %}
	{% if not films %}
		<h2>нет таких фильмов</h2>
	{% endif %}	
</div>	

{% endblock %}
