<table>
	<tr>
		<td>
			<div class="film_img text-center">
				<a href="{{film.get_absolute_url}}" title="О фильме {{film.name}}"><img class="film_banner" src="{{film.preview1}}" title="{{film.name}}" alt="{{film.name}}"/></a>
				{% if rm_from_bookmark %}
				<div class="rm_film con_block dn" rel="{% url 'bookmark_film' film.id %}?noreload=1" title="Удалить из списка">&times;</div>
				{% endif %}
				{% if rm_from_like %}
				<div class="rm_film con_block dn" rel="{% url 'like_film' film.id %}?noreload=1" title="Удалить из списка">&times;</div>
				{% endif %}
				<!--div class="like_film con_block" rel="{{f.id}}" title="Фильм понравился"></div-->
			</div>
		</td>				
		<td class="width100 pl10">
			<h1><a href="{{film.get_absolute_url}}" title="О фильме {{film.name}}">{{film.name}}</a></h1>	
			<table class="table table-noborder">
				<tr>
					<td>Рейтинг:</td>
					<td class="{% if film.kp_raiting > 5 %}text-success{% else %}text-danger{% endif %}">{{film.kp_raiting}}</td>
				</tr>
				<tr>
					<td>Год:</td>
					<td>{{film.year}}</td>
				</tr>										
				<tr>
					<td>Актеры:</td>
					<td>
						{% for d in film.actors %}
							<a href="{{d.get_absolute_url}}" data-toggle="tooltip"  data-original-title="<img src='/static/name_img_thumb/{{d.id}}.jpg'/>">{{d.name}}</a>{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>Режисер:</td>
					<td>
						{% for d in film.producers %}
							<a href="{{d.get_absolute_url}}">{{d.name}}</a>{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>Жанр:</td>
					<td>
						{% for d in film.genre %}
							<a href="{{d.get_absolute_url}}">{{d.name}}</a>{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</td>

				</tr>
				<tr>
					<td>Страна:</td>
					<td>
						{% for d in film.country %}
							<a href="{{d.get_absolute_url}}">{{d.name}}</a>{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</td>

				</tr>
				
			</table>				
		</td>
	</tr>
	<tr>
		<td colspan="2" class="taj">
		{{film.description}}
		</td>
	</tr>
	<tr>
		<td colspan="2" style="height:20px">&nbsp;</td>
	</tr>
</table>
