<div class="film_block pull-left">
	<div class="film_img">
		<div style="position:relative">
			{% if not no_like %}
			<div class="bookmark_film con_block" rel="{{f.id}}" title="В закладки"><span class="fa fa-bookmark fa-1x"></span></div>
			<div class="hide_film con_block" rel="{{f.id}}" title="Скрыть фильм"><span class="fa fa-eye-slash fa-1x"></span></div>
			<div class="like_film con_block" rel="{{f.id}}" title="Фильм понравился"><span class="fa fa-heart fa-1x"></span></div>
			<div class="info_film con_block" rel="{{f.id}}" data-toggle='tooltip' data-original-title='<p>Рейтинг:<b>{{f.kp_raiting}}</b></p><p>Год:<b>{{f.year}}</b></p><div class="taj width280px">{{f.description}}</div>'><!--span class="fa fa-info fa-1x"></span-->{{f.kp_raiting}}</div>
			{% endif %}
			<a href="{{f.get_absolute_url}}">				
				<img src="{{f.preview1}}" title="{{f.name}}" alt="{{f.name}}"/>
			</a>
		</div>
	</div>
	<div class="film_name">
		<a href="{{f.get_absolute_url}}">{{f.name}} {% if show_year %}({{f.year}}){% endif %}</a>
	</div>
</div>