{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{film.name}} и фильмы похожие на него{% endblock %}
{% block description %}{{film.name}} - {{film.genre_text}} - {{film.actors_text}}{% endblock %}
{% block keywords %}{% endblock %}
{% block extra_head %}
<link href="/static/css/star-rating.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
		<div class="info_panel">
			<table>
				<tr>
					<td>
						<div style="position:relative;text-align:center">
							{% if is_bookmark %}
							<div class="bookmark_film con_block" rel="{{film.id}}" data-noreload="1" title="В закладки"><span class="fa fa-bookmark fa-1x"></span></div>
							{% endif %}
							{% if is_like %}
							<div class="like_film con_block" rel="{{film.id}}" data-noreload="1" title="Фильм понравился"><span class="fa fa-heart fa-1x"></span></div>
							{% endif %}
							<img class="film_banner" src="{{film.preview1}}" title="{{film.name}}" alt="{{film.name}}"/>
						</div>
						
						{% if user.is_staff %}
						<button  data-toggle="modal" data-target="#addLink" class="btn btn-primary btn-xs" style="margin-top:10px">указать ссылку</button>
						{% endif %}
						
						{% comment %}
							{% if user.is_authenticated %}
								{% if film.is72 %}
								<button class="btn btn-warning btn-xs set-genre" style="margin-top:10px" rel="/set/genre/72/{{film.id}}/">не рождественский</button>
								{% else %}
								<button class="btn btn-primary btn-xs set-genre" style="margin-top:10px" rel="/set/genre/72/{{film.id}}/">рождественский</button>
								{% endif %}
							{% endif %}
						{% endcomment %}
					</td>				
					<td class="width100 pl10">
						<h1>{{film.name}} {% if film.name_orig %}({{film.name_orig}}){% endif %}</h1>	
						<table class="table table-noborder">
							<tr>
								<td>Рейтинг:</td>
								<td class="{% if film.kp_raiting > 5 %}text-success{% else %}text-danger{% endif %}">{{film.kp_raiting}}</td>
							</tr>
							<tr>
								<td>Премьера:</td>
								<td>{{film.dt_out|date:"d E Y"}} г.</td>
							</tr>										
							<tr>
								<td>Актеры:</td>
								<td>
									{% for d in film.actors %}
										<a href="{{d.get_absolute_url}}" data-toggle="tooltip"  data-original-title="<img src='/static/name_img_thumb/{{d.id}}.jpg'/>">{{d.name}}</a>{% if not forloop.last %}, {% endif %}
									{% endfor %}
								</td>
							</tr>
							<tr>
								<td>Режисер:</td>
								<td>
									{% for d in film.producers %}
										<a href="{{d.get_absolute_url}}">{{d.name}}</a>{% if not forloop.last %}, {% endif %}
									{% endfor %}
								</td>
							</tr>
							<tr>
								<td>Жанр:</td>
								<td>
									{% for d in film.genre %}
										<a href="{{d.get_absolute_url}}">{{d.name}}</a>{% if not forloop.last %}, {% endif %}
									{% endfor %}
								</td>

							</tr>
							<tr>
								<td>Страна:</td>
								<td>
									{% for d in film.country %}
										<a href="{{d.get_absolute_url}}">{{d.name}}</a>{% if not forloop.last %}, {% endif %}
									{% endfor %}
								</td>
							</tr>
						</table>				
					</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align:justify">
					{{film.description|safe}}
					</td>
				</tr>
				<tr>
					<td colspan="2" class="taj banners">
						<a href="http://www.kinopoisk.ru/film/{{film.kp_id}}/" target="_blank" title="Фильм на кинопоиске">
							<img src="http://www.kinopoisk.ru/rating/{{film.kp_id}}.gif" alt="Фильм на кинопоиске"/>	
						</a>
						{% if film.link %}
						<a href="{{film.link}}" target="_blank" title="Скачать с rutracker.org">
							<img src="/static/images/rutracker.png" alt="Скачать с rutracker.org"/>	
						</a>						
						{% else %}
						<a href="http://rutracker.org/forum/tracker.php?nm={{film.name|urlencode}}%20{{film.year}}" target="_blank" title="Искать на rutracker.org">
							<img src="/static/images/rutracker.png" alt="Искать на rutracker.org"/>	
						</a>
						{% endif %}
						<a href="http://megashara.com/search/?text={{film.name|urlencode}}&all_words=1&where=title&parent=1&genre=0&quality=&3d=0&year=0&time=ALL&sorting=weight&order=desc" target="_blank" title="Искать на megashara.com">
							<img src="/static/images/megashara.jpg" alt="Искать на megashara.com"/>								
						</a>
						
						<a href="http://kinogo.club/index.php?do=search&story={{film.name|urlencode}}" target="_blank" title="Искать на kinogo.co">
							<img src="http://kinogo.club/templates/kinogo/images/kinogo.png" alt="Искать на kinogo.club"/>								
						</a>
						
						
						{% if film.on_ff %}
						<!--a href="{{film.on_ff}}" target="_blank">Смотреть онлайн на ftpface.ru</a-->
						{% endif %}
					</td>
				</tr>			
			</table>
		</div>
		
			{% if may_comment %}
			<div class="info_panel">
			<h3>Оцените фильм</h3>
			
			<input id="input-1" class="rating" data-min="0" data-max="10" data-step="1">
			
			<form method="post" action="{% url 'comment' film.uid %}">
				<div class="set-rate"></div>
				<div class="form-group">
					<label for="text">Отзыв:</label>
					<textarea class="form-control" id="text" name="text"></textarea>									
				</div>
				<input type="submit" class="btn btn-primary" value="Отправить"/>
			</form>
			</div>
			{% endif %}
		
		<div class="info_panel">
			<h3>Средняя оценка: <span title="Голосов: {{film.rate_count}}">{{film.rate|floatformat:2}}</span></h3>
			<div>{{film.cnt_good_comment}}/{{film.cnt_bad_comment}}</div>
			<div class="progress progress-striped">
			  <div class="progress-bar progress-bar-success" style="width: {{film.good_proc}}%">
				<span class="sr-only">{{film.good_proc}}% хороших</span>
			  </div>
			  <div class="progress-bar progress-bar-danger" style="width: {{film.bad_proc}}%">
				<span class="sr-only">{{film.bad_proc}}% плохих</span>
			  </div>
			</div>			
			<h3>Отзывы о фильме {{film.name}}</h3>
			{% if comments %}
			{% for d in comments %}
			<div class="comment">
				{% if d.user %}
				<div class="comment-header">
					<a href="{% url 'likes' d.user.id %}">{{d.user.username}}</a> 
					<small>{{d.dt|date:"d.m.y H:i"}}</small> 
					<input id="input-c" class="rating" data-min="0" data-max="10" data-step="1" value="{{d.rate}}">
				</div>
				{% endif %}
				<hr/>
				<div class="ctext taj {% if d.nsrate = 2 %}text-success{% endif %} {% if d.nsrate = 1 %}text-danger{% endif %}">{{d.text}}</div>
				
				{% if user.is_staff %}
				<div class="set-nsrate pull-right">
					<a href="{% url 'rate_comment' d.id 2 %}" class="text-success">ХК</a>
					<a href="{% url 'rate_comment' d.id 1 %}" class="text-danger">ПК</a>
					<a href="{% url 'rate_comment' d.id 1 %}?rm=1" class="text-warning">удалить</a>
				</div>
				
				{% endif %}
			</div>
			{% endfor %}
			{% else %}
			<p>отзывы отсутствуют</p>
			{% endif %}
		</div>
		</div>
		<div class="col-md-3">
			<div class="info_panel">
			<h2>Фильмы похожие на {{film.name}}</h2>
			{% for f in film.similar %}
			<div class="film_block_similar">
				<div>
					<a href="{{f.get_absolute_url}}">
						<img class="film_banner" src="{{f.preview1}}" title="{{f.name}}" alt="{{f.name}}"/>
					</a>
				</div>
				<span class="film_name">
					<a href="{{f.get_absolute_url}}">{{f.name}}</a>
				</span>
			</div>
			{% endfor %}
			</div>
		</div>
	</div>
</div>



<!-- Modal -->
<div class="modal fade" id="addLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавить ссылку с rutracker.org</h4>
      </div>
      <div class="modal-body">
        <form id="addLinkForm" method="post" action="/add/rutracker/{{film.id}}/">
			<div class="form-group">
				<label for="link">Ссылка</label>
				<input type="text" class="form-control" name="link" id="link" placeholder="Ссылка" value="{{film.link|default:''}}">
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('addLinkForm').submit()">Сохранить</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript" src="/static/js/star-rating.min.js"></script>
<script>
$("#input-1").rating({defaultCaption:"{rating}",starCaptions:"",clearButton:"",clearCaption:""});
$("#input-1").on("rating.change", function(event, value, caption) {
    $.get('{% url "comment" film.uid %}?rate='+value)
});

$("#input-c").rating({size:'xs',readonly:1,defaultCaption:"",starCaptions:"",clearButton:"",clearCaption:""});

$(function(){
	$(".set-genre").click(function(){
		window.location = $(this).attr("rel")
	})
})
</script>

{% endblock %}