{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Скрытые{% endblock %}
{% block body %}
<h1>Фильмы, которые Вы скрыли от просмотра</h1>

<div class="container">
	{% for film in films %}
	<div class="info_panel">
		{% include "film_info_full.htm" %}
	</div>
	{% endfor %}
	{% if not films %}
		<h2>нет таких фильмов</h2>
	{% endif %}
</div>	

{% endblock %}
