{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Выбрать фильм{% endblock %}
{% block description %}Сервис выбора фильма{% endblock %}
{% block keywords %}выбрать,фильм{% endblock %}


{% block body %}

	<div class="right_block">
		<h2>Режисёры</h2>
		<ul style="padding-left: 2px">
		{% for d in producers %}
			<li><a href="{{d.get_absolute_url}}">{{d.name}}</a></li>
		{% endfor %}
		</ul>
		<h2>Актёры</h2>
		<ul style="padding-left: 2px">
		{% for d in actors %}
			<li><a  data-toggle="tooltip"  data-original-title="<img src='/static/name_img_thumb/{{d.id}}.jpg'/>" href="{{d.get_absolute_url}}">{{d.name}}</a></li>
		{% endfor %}
		</ul>		
		<h2>Страны</h2>
		<ul style="padding-left: 2px">
		{% for d in countries %}
			<li><a href="{{d.get_absolute_url}}">{{d.name}}</a></li>
		{% endfor %}
		</ul>
	</div>	

    <section id="home">	
		<div id="main-slider" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active">
					<!--img class="img-responsive" src="/static/images/slider/bg1.jpg" alt="slider"-->						

				</div>				
			</div>
		</div>    	
    </section>
	<!--/#home-->

	<div class="best_films">
		<div>
		{% for f in best_films %}
			{% include "film_info.htm" %}
		{% endfor %}
		</div>
	

			{% for f in last_films %}
				{% include "film_info.htm" %}		
			{% endfor %}
	
	</div>


{% endblock %}
