{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Фильмы, которые мне понравились{% endblock %}
{% block body %}
<h1>Фильмы, которые понравились {% if touser %}{{touser.username}}{% endif %}</h1>

<div class="container">
	{% for film in films %}
		<div class="info_panel">
		{% include "film_info_full.htm" with rm_from_like=1 %}
		</div>
	{% endfor %}
	{% if not films %}
		<h2>нет таких фильмов</h2>
	{% endif %}
</div>	

{% endblock %}
