{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_head %}

{% endblock %}
{% block body %}
    <div class="container">
	<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="info_panel">
	  {% if msg %}<div class="alert alert-danger">{{msg}}</div>{% endif %}
      <form class="form-signin" method="post" action="{% url 'login' %}">
		{% csrf_token %}
        <h2 class="form-signin-heading">{% trans "Вход" %}</h2>
		<input type="hidden" name="ref" value="{{ref}}"/>
		<div class="form-group">
        <input type="text" id="username" name="username" class="form-control" placeholder="{% trans 'Имя пользователя' %}" autofocus>
		</div>
		<div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="{% trans 'Пароль' %}">
		</div>
		<div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Войти" %}</button>
		</div>
		<div class="form-group">
		<a class="btn btn-lg btn-primary btn-block" href="{% url 'register' %}">{% trans "Зарегистрироваться" %}</a>
		</div>
      </form>
	  {% load ulogin_tags %}
	  <div>
		<h3>Войти через соцсети:</h3>
		<div class="tac" style="width:250px;margin:0 auto">{% ulogin_widget %}</div>
	  </div>
	  </div>
	</div>
	</div>
    </div> <!-- /container -->

{% endblock %}
