{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{genre.title1}}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block body %}
<div class="container">
<h1 class="pull-left">Новые {{genre.title2|lower|default:genre.name}}</h1>

<h3 class="pull-right"><a href="{% url 'genre' genre.uid %}">Лучшие {{genre.title2|lower|default:genre.name}} <span class="glyphicon glyphicon-chevron-right">&nbsp;</span></a></h3>
<input type="hidden" class="genre_value" value="{{genre.uid}}"/>
<div class="row">
	<div class="col-md-12 films_content">
		{% include "films_list.htm" %}
	</div>
</div>	
</div>
{% endblock %}
