{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{data.name}}{% endblock %}
{% block description %}Список фильмов режисёра {{data.name}}{% endblock %}
{% block keywords %}{{data.name}},список,фильмов,режисёра,режисёр{% endblock %}
{% block body %}
<h1>{{data.name}} - фильмы режисёра </h1>
<input type="hidden" class="genre_value" value="{{genre.uid}}"/>
<div class="container">
	<div class="info_panel">
	{% for film in films %}
		{% include "film_info_full.htm" %}
	{% endfor %}	
	</div>
	{% if next_page %}
	<a class="next_page" href="{% url 'producer' data.uid next_page %}">Ещё {{next_cnt}} фильмов</a>
	{% endif %}
</div>	

{% endblock %}
