{% extends "base.html" %}
{% block title %}{{user.first_name|default:user.username}} - профиль{% endblock %}
{% block body %}
<div class="container">
	<div class="row"> <!-- таблица с основной информацией -->
		<div class="col-md-6 col-md-offset-3 user-profile-form">
			<h1>{{user.first_name}}</h1>
			<table class="table">
				<tr>
					<th>Ваше имя:</th>
					<td>{{user.first_name|default:"не указано"}}</td>
					<td>
						<a data-toggle="modal" data-target="#changeNameModal" href="#">изменить</a>
					</td>
				</tr>		
				<tr>
					<th>Ваше фото:</th>
					<td><img src="{{user.userprofile.preview_img}}" alt="Фото {{user.first_name}}"/></td>
					<td>
						<a data-toggle="modal" data-target="#changeFotoModal" href="#">изменить</a>
					</td>
				</tr>		
				<tr>
					<th>Ваш телефон:</th>
					<td>{{user.username}}</td>
					<td>
						
					</td>
				</tr>
				<tr>
					<th>Ваш пароль:</th>
					<td>****</td>
					<td>
						<a data-toggle="modal" data-target="#changePasswordModal" href="#">изменить</a>
					</td>
				</tr>
				<tr>
					<th>Ваш город:</th><td>{{city.name}}</td><td><a href="{% url 'change_city' %}?from_profile=1">изменить</a></td>
				</tr>
				{% if user.userprofile.is_master %}
				<tr>
					<th>Адрес приёма:</th>
					<td>{{user.userprofile.master.addr|default:"не указан"}}</td>
					<td>
						<a data-toggle="modal" data-target="#changeAddrModal" href="#">изменить</a>
					</td>
				</tr>		
				{% endif %}
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		{% if user.userprofile.appoints %}
			<h3>История заказов</h3>
			<table class="table">
			{% for d in user.userprofile.appoints %}
				<tr>
					<td>{{d.dt|date:"d.m.Y H:i"}}</td>
				
					<td>{{d.usluga}}</td>
					<td>
						{% if d.org %}
						<a href="{{d.org.get_absolute_url}}?sid={{d.sid|default:0}}">{{d.org.name}}</a> -
						{% endif %}
						<a href="{{d.master.get_absolute_url}}?sid={{d.sid|default:0}}">{{d.master.name}}</a>
					</td>
					<!--td>
						{% if d.appoint %}
						{% if d.appoint.is_valid %}<span class="text-success">подтверждена</span>{% else %}<span class="text-danger">не подтверждена<br/>с {{d.appoint.dt_add|date:"d.m.Y H:i"}}</span>{% endif%}
						{% endif %}
					</td>
					<td class="text-success">{% if d.online %}с сайта{% endif %}</td-->
					<td class="text-success"><a href="">скрыть</a></td>
				</tr>		
			{% endfor %}
			</table>
		{% endif %}
		</div>
		
	</div>

	{% if orgs %}
	<div class="row">
	<h3>Ваши салоны</h3>
	{% for d in orgs %}
		<div class="pull-left tac">
			<a href="{{d.get_absolute_url}}"><img src="{{d.preview_img}}" alt="{{d.name}} логотип"/></a>
			<p><a href="{{d.get_absolute_url}}">{{d.name}}</a></p>
		</div>
	{% endfor %}
	</div>
	<div class="cb"></div>
	{% endif %}
</div>


<!-- изменение имени -->
<div class="modal fade" id="changeNameModal" tabindex="-1" role="dialog" aria-hidden="false">
<form method="post" action="">
{% csrf_token %}
<div class="modal-dialog">
  <div class="modal-content">  
	<div class="modal-header"><span>Введите Ваше имя</span><a class="close" data-dismiss="modal">&times;</a></div>
	<div class="modal-body">
		<label for="uname">Вас зовут:</label>
		<div class="input-group">
		  <input type="text" class="form-control" id="uname" name="uname" value="{{user.first_name}}"/>
		  <span class="input-group-btn">
			<input type="submit" class="btn btn-success mt10 pull-right" value="Сохранить"/>
		  </span>
		</div>
	</div>
  </div>
</div>
</form>
</div>
<!-- end изменение имени -->

<!-- изменение фотографии -->
<div class="modal fade" id="changeFotoModal" tabindex="-1" role="dialog" aria-hidden="false">
<form method="post" action="" enctype="multipart/form-data">
{% csrf_token %}
<div class="modal-dialog">
  <div class="modal-content">  
	<div class="modal-header"><span>Загрузите свою фотографию</span><a class="close" data-dismiss="modal">&times;</a></div>
	<div class="modal-body">
		<label for="ufoto">Укажите файл со своей фотографией:</label>
		<input type="file" id="ufoto" name="ufoto" />
		<input type="submit" class="btn btn-success mt10 pull-right" value="Сохранить"/>
		<div class="cb"></div>  
	</div>
  </div>
</div>
</form>
</div>
<!-- end изменение фотографии -->

<!-- изменение пароля -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-hidden="false">
<form method="post" action="">
{% csrf_token %}
<div class="modal-dialog">
  <div class="modal-content">  
	<div class="modal-header"><span>Введите Ваш новый пароль</span><a class="close" data-dismiss="modal">&times;</a></div>
	<div class="modal-body">
		<label for="upasswd">Ваш новый пароль:</label>
		<div class="input-group">
		  <input type="text" class="form-control" id="upasswd" name="upasswd" value=""/>
		  <span class="input-group-btn">
			<input type="submit" class="btn btn-success mt10 pull-right" value="Сохранить"/>
		  </span>
		</div>
	</div>
  </div>
</div>
</form>
</div>
<!-- end изменение пароля -->

<!-- изменение адреса -->
<div class="modal fade" id="changeAddrModal" tabindex="-1" role="dialog" aria-hidden="false">
<form method="post" action="">
{% csrf_token %}
<div class="modal-dialog">
  <div class="modal-content">  
	<div class="modal-header"><span>Введите Ваш адрес приёма</span><a class="close" data-dismiss="modal">&times;</a></div>
	<div class="modal-body">
		<label for="uaddr">Ваш адрес:</label>
		<div class="input-group">
		  <input type="text" class="form-control" id="uaddr" name="uaddr" value=""/>
		  <span class="input-group-btn">
			<input type="submit" class="btn btn-success mt10 pull-right" value="Сохранить"/>
		  </span>
		</div>
	</div>
  </div>
</div>
</form>
</div>
<!-- end изменение адреса -->
{% endblock %}
