{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{genre.title1}}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block body %}
<div class="container">
<h1>Результаты поиска {{q}} ({{data|length}})</h1>

{% if not data %}
<h2>Ничего не найдено</h2>
{% else %}
	{% for film in data %}
	<div class="info_panel">
		{% include "film_info_full.htm" %}
	</div>
	{% endfor %}
{% endif %}

</div>
{% endblock %}
