{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Выбрать фильм для просмотра{% endblock %}
{% block description %}Выбрать фильм для просмотра{% endblock %}
{% block keywords %}{% endblock %}
{% block body %}
<div class="row">
	<div class="col-md-12 films_content">
		{% include "films_list.htm" %}
	</div>
</div>	

{% endblock %}
